<h1>Public Habits</h1>
<div class="row">
    {{#each habits}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    {{{editIcon user ../user _id}}}
                </div>
                <div class="card-content left-align">
                    <h5>{{title}}</h5>
                    <p>{{stripTags (truncate body 20)}}</p>
                    <br>
                    <div class="chip">
                        
                        <a href="/habits/user/{{user._id}}">{{user.firstName}}</a>
                    </div>
                </div>
                <div class="card-action left-align">
                    <a href="/habits/{{_id}}" class="btn">Read More</a>
                </div>
            </div>

        </div>

    {{else}}
        <p>No ~~hobbits?~~ habits? Odd...</p>
    {{/each}}
</div>